<?xml version='1.0' encoding='utf-8'?>
<odoo>

  <menuitem id="hr_hospital_main_menu" 
            name="Hospital" 
            sequence="300"/>

  <menuitem id="hr_hospital_catalog_menu"
            parent="hr_hospital_main_menu"
            name="Catalog"
            sequence="100"/>

  <menuitem id="hr_hospital_settings_main_menu" 
            parent="hr_hospital_main_menu"
            name="Settings" 
            sequence="9999"/>


  <menuitem id="hr_hospital_reporting_menu"
            parent="hr_hospital_main_menu"
            name="Reporting"
            sequence="200"/>

  <menuitem id="hr_hospital_disease_report_menu"
            parent="hr_hospital_reporting_menu"
            name="Monthly Disease Report"
            action="action_physician_disease_report_wizard"
            sequence="10"/>

</odoo>
